body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1 {
    font-weight: 700;
}

header {
    box-shadow: 0px 1px 5px black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

header div a {
    grid-column: 2 / 3;
    margin-right: 30px;
}

header i {
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: black;
}

header a {
    grid-column: 2 / 3;
    text-align: center;
}

header div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.container {
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

table tr {
    text-align: center;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.425);
}

.button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 13px;
    background-color: rgb(239, 239, 239);
}

table th:last-child, table td:last-child {
    text-align: right;
    padding-right: 30px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-center input {
    margin-bottom: 15px;
}

label {
    font-weight: 100;
}


.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content button {
    margin-top: 15px;
}

.newmessage input {
    width: 80%;
}